<div class="d-flex justify-content-between">
    <h3 class="Applicaton">Applicaton Details </h3>
    <mat-icon mat-dialog-close="true" class="x">clear</mat-icon>
</div>


<div class="d-flex overall-div">
    <div class="first">
        <div class="one">
            <h3 class="D">DGBFE0552 - Annette Black</h3>
            <div class="app">
                <p class="A">Applied Job Position</p>
                <hr class="hr">
                <p class="mar">Marking.Full Time</p>
            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-outline-primary">Next Round</button>
                <button type="button" class="btn btn-outline-primary">ReSchedule</button>
            </div>
        </div>
        <hr>
        <div>
            <h5>Contact</h5>
            <div class="j">
                <div class="mail">
                    <div class="tt"> <mat-icon class="icon">mail_outline</mat-icon>
                    </div>
                    <div>
                        <p class="text2"> jeromebell45@email.com</p>
                    </div>
                </div>
                <div class="mail">
                    <div > <mat-icon class="icon"> call_outline</mat-icon>
                    </div>
                    <div>
                        <p class="text2">9876543210</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="second">
        <div class="r-side justify-content-between">
            <div class="d-flex">
            <div>
                <p class="text">Interview Status:</p>
            </div>
            <div>
                <p class="select ">Selected</p>
            </div></div> <div class="">
                <a href="#" class="link-primary">view resume</a>
            </div>
        </div>
        <mat-horizontal-stepper class="m-lab">
            <mat-step label="screening"></mat-step>
            <mat-step label="Tech Round 1"></mat-step>
            <mat-step label="Tech Round 2"></mat-step>
        </mat-horizontal-stepper>
        <div class="up">
            <div class="panel">
                <div>
                   <p class="text"> Interview Date:
                   </p>
                </div>
                <div><p>01/12/2022</p><div>
                    
                    </div>
                </div>
            </div>
            <div class="panel">
                <p class="text">
                    Panelist:
                </p>
                <p>
                    keshore
                </p>
            </div>
        </div>
        <div class="pre">
            <h6>Previous round feedback:</h6>
            <p>If your organization already has a branded presentation theme then you can use the table of PRD elements
                to build out your own slide deck:</p>
        </div>
        <div>
            <div class="rating">
                <div class="ave">
                    <p class="text"> Average skill rating:</p>
                    <p class="num">6/10</p>
                </div>
                <div>
                    <a href="#" class="link-primary">view skill ratings</a>
                </div>
            </div>
        </div>
    </div>
</div>